/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../img/bg.jpg') #fff;
}

body{
	min-height: 600px;
    padding: 100px 0 50px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	box-shadow:0 0 25px rgba(0,0,0,0.3) inset;
	height:100%;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

section, footer{
	display: block;
}

#code{
  color: #3300ff; 
}

/*----------------------------
	Styling the presentation
-----------------------------*/

/*
#impress:not(.impress-not-supported) .step{
	opacity:0.4;
}
*/

#impress .step{
	width:700px;
	height: 600px;
	position:relative;
	margin:0 auto;
	
	-moz-transition:1s opacity;
	-webkit-transition:1s opacity;
	transition:1s opacity;
}

#impress .step.active{
	opacity:1;
}

#impress h2{
	font: normal 44px/1.5 'PT Sans Narrow', sans-serif;
	color:#444648;
	position:absolute;
	z-index:10;
}

#impress p{
	font: normal 18px/1.3 'Open Sans', sans-serif;
	color:#27333f;
	position:absolute;
	z-index:10;
}

#impress img{
	position:absolute;
	z-index:1;
}

.arrow{
	width:32px;
	height:54px;
	background:url('../img/arrows.png') no-repeat;
	position:fixed;
	top:50%;
	margin-top:-27px;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
	opacity:0.8;
	border:none !important;
	text-decoration:none !important;
	
	-moz-transition:0.2s opacity;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.arrow:hover{
	opacity:1;
}

#arrowLeft{
	left:45px;
}

#arrowRight{
	right:45px;
	background-position:top right;
}

/* Hide the arrows if impress is not supported */

#impress.impress-not-supported + .arrow,
#impress.impress-not-supported + .arrow + .arrow{
	display:none;
}


/*----------------------------
	Slide 1 - Intro
-----------------------------*/


#impress #intro{
	width: 640px;
}

#intro h2{
	text-align: center;
    width: 100%;
}

#intro p{
	font-size: 22px;
	left: 150px;
    line-height: 1.6;
    top: 500px;
    white-space: nowrap;
}

#intro p#note{
	font-size: 17px;
	left: 50px;
    line-height: 1.6;
    top: 560px;
    white-space: nowrap;
}

#intro img{
	top: 220px;
	left: 160px;
}


/*----------------------------
	Slide 2 
-----------------------------*/


#impress #slide2{
	width: 675px;
}

#slide2 h2{
	left: 0;
	width: 650px;
}

#slide2 p{

	font-size: 22px;
    top: 325px;
    width: 675px;
}

#slide2 img{
	right: 0;
    top: 30px;
}


/*----------------------------
	Slide 3 
-----------------------------*/


#impress #slide3{
	width: 650px;
}

#slide3 h2{
	left: 0;
	top: 0px;
	width: 650px;
}

#slide3 p{
    top: 360px;
    width: 675px;
	font-size: 22px;
}

#slide3 img{
	right: 0;
    top: 50px;
}


/*----------------------------
	Slide 4
-----------------------------*/


#impress #slide4{
	width: 650px;
}

#slide4 h2{
    top: 150px;
	left: 0;
    text-align: left;
    top: 0px;
}

#slide4 p{
	left: 0px;
    top: 255px;
    width: 650px;
}

#slide4 img{
	left: 100px;
    top: 400px;
}


/*----------------------------
	Slide 5 
-----------------------------*/


#impress #slide5{
	width: 650px;
}

#slide5 h2{
	left: 0;
    text-align: center;
    top: 10px;
    width: 100%;
}

#slide5 p{
	font-size: 22px;
    left: 45px;
    top: 150px;
    width: 502px;
}



#slide5 img{
	right: 0;
    top: 300px;
}



/*----------------------------
	Slide 6 
-----------------------------*/


#impress #slide6{
	width: 650px;
}

#slide6 h2{
	left: 0;
    text-align: center;
    top: 10px;
    width: 100%;
}

#slide6 p{
	font-size: 22px;
    left: 45px;
    top: 70px;
    width: 650px;
}



#slide6 img{
	right: 0;
    top: 220px;
}


/*----------------------------
	Slide 7 
-----------------------------*/


#impress #slide7{
	width: 650px;
}

#slide7 h2{
	left: 0;
    text-align: center;
    top: 10px;
    width: 100%;
}

#slide7 p{
	font-size: 22px;
    left: 45px;
    top: 70px;
    width: 650px;
}



#slide7 img{
	right: 0;
    top: 220px;
}


/*----------------------------
	Slide 8 
-----------------------------*/


#impress #slide8{
	width: 650px;
}

#slide8 p{
	font-size: 22px;
    left: 25px;
    top: 0px;
    width: 650px;
}


#slide8 img{
	right: 0;
    top: 220px;
}

/*----------------------------
	Slide 10 
-----------------------------*/


#impress #slide10{
	width: 650px;
}

#slide10 h2{
	left: 0;
    text-align: center;
    top: 10px;
    width: 100%;
}

#slide10 p{
	font-size: 22px;
    left: 25px;
    top: 130px;
    width: 650px;
}


#slide10 img{
	right: 0;
    top: 220px;
}

/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px #111111;
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.wtboxlink,a.wtboxlink:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
/*------------------------------
fallback-message
-------------------------------*/

            .fallback-message {
               	color: #eee;
                line-height: 1.3;
                width: 650px;
                padding: 10px 10px 0;
                margin: 20px auto;
                border: 1px solid #E4C652;
                border-radius: 10px;
              
            }

            .fallback-message p {
                margin-bottom: 10px;
            }

            .impress-supported .fallback-message {
                display: none;
            }